.tech-container {
    padding: 3rem 8rem;
}

.tech-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.tech-name {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 300;
}

@media (max-width:468px) {
    .tech-container {
        padding: 3rem 1rem;
    }

    .tech-name {
        padding-left: 1rem;
        font-size: 2rem;
    }

    .tech-cards {
        grid-template-columns: 1fr;
    }
}